@import url("../css/reset.css");

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSansKR_bold";
  src: url("../font/NotoSansKR-Bold.ttf") format("truetype");
}

* {
  font-family: "NotoSansKR", sans-serif;
}
